@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Homenaje&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Mate+SC&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Mate+SC&family=Nunito:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Mate+SC&family=Nunito:wght@700&display=swap);

body {
  background-image: url("./images/MyBoyStinson.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: "Lato", sans-serif;
}

.App {
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* align-content: space-between; */
}

.item {
  /* justify-content: center; */
  /* height: 10px;
  width: 10px; */
}

.title {
  /* border: 3px outset lightgray;
  background: #56ccf2;
  background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
  background: linear-gradient(to right, #2f80ed, #56ccf2); */
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; /* don't forget to set a duration! */

  font-size: 50px;
  /* padding: 10px; */
}

.main-logo {
  width: auto;
  /* height: 80%; */
}

h2 {
  text-align: center;
  font-size: 27px;
  color: black;

  /* font-family: "Mate SC", serif;
  font-family: "Nunito", sans-serif; */
  /* text-transform: uppercase; */
  /* width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  border: 2px inset white;
  padding: 10px;
  /* //FIX CENTERING */
  /* transform: translateX(340px); */
}

span {
  color: #e6ad52;
}

#dates {
  color: white;
  font-size: 20px;
  margin-top: -6px;
  font-weight: 800;
  letter-spacing: 0.5px;

  /* font-family: "Mate SC", serif; */
}

#tagline {
  letter-spacing: 1px;
  font-size: 37px;
  font-family: "Mate SC", serif;
  /* text-transform: uppercase; */
}

.main-pic {
  border: 2.5px ridge #edb761;
  box-shadow: 0 0 10px #333;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: auto;
  /* margin-top: -15px; */
  transform: translateY(-15px);
  margin-bottom: 15px;
}

.second-pic {
  border: 2.5px ridge #edb761;
  box-shadow: 0 0 10px #333;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  /* margin-top: -15px; */
  /* transform: translateY(-15px); */
  margin-bottom: 25px;
}

.video-iframe {
  margin: 20px;
  border: 2.5px ridge #edb761;
  box-shadow: 0 0 10px #333;
}

.dates-of-life {
  font-size: 18px;
  font-weight: 550;
  color: black;
  font-style: italic;
  background-color: blue;
  background-color: #6a93cb;
  background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
  /* display: inline; */
  padding: 5px;
  padding-left: 5px;
  padding-right: 7px;

  border: 2px outset white;
  text-align: center;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  /* //FIX CENTERING */
  transform: translateX(410px);
}

.menu-btns {
  color: black;
}

.button-container {
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s; /* don't forget to set a duration! */
  margin-bottom: 25px;
}

.button-container button {
  color: white;
  letter-spacing: 1.5px;
  /* background-color: transparent; */
  font-size: 33px;
  /* font-family: "Lato", sans-serif; */
  /* border: 3px outset lightgray; */
  /* background: #56ccf2;
  background: -webkit-linear-gradient(to bottom, #2f80ed, #56ccf2);
  background: linear-gradient(to bottom, #2f80ed, #56ccf2); */
  /* background-color: transparent; */
  font-weight: 950;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-family: "Homenaje", sans-serif;
  font-family: "Mate SC", serif;
  font-family: "Mate SC", serif;
  /* font-family: "Nunito", sans-serif; */

  /* border-right: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  border-bottom: 3px solid whitesmoke; */
  /* transform: translateX(-150px); */
}

.button-container button:hover {
  color: #edb761;
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a7c7dc+0,85b2d3+100;Blue+Grey+3D */
  background: rgb(167, 199, 220); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(167, 199, 220, 1) 0%,
    rgba(133, 178, 211, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(167, 199, 220, 1) 0%,
    rgba(133, 178, 211, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(167, 199, 220, 1) 0%,
    rgba(133, 178, 211, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: -15px;
  left: 0px;
  z-index: 10;
  animation: fadein 1.3s;

  max-height: 100%;
  overflow-y: auto;
}

.modalNoScroll {
  background: rgb(167, 199, 220); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(167, 199, 220, 1) 0%,
    rgba(133, 178, 211, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(167, 199, 220, 1) 0%,
    rgba(133, 178, 211, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(167, 199, 220, 1) 0%,
    rgba(133, 178, 211, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: -15px;
  left: 0px;
  z-index: 10;
  animation: fadein 1.3s;

  max-height: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal .back-btn {
  color: white;
  font-weight: 800;
  z-index: 5;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  float: right;
}

.modalNoScroll .back-btn {
  color: white;
  font-weight: 800;
  z-index: 5;
  background-color: black;
  position: absolute;
  top: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  float: right;
  margin-right: 15px;
}

.photo-gallery-iframe {
  transform: translateY(-6%);
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3.5s; /* don't forget to set a duration! */
}

.frosted-glass {
  /* transform: translateX(-390px); */
  color: white;
  /* width: 400px;
  height: 200px; */
  background: inherit;
  position: relative;
  /* z-index: 1; */
  overflow: hidden;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.6);
  font-size: 25px;
  /* font-family: "Lato", sans-serif; */
  /* border: 3px outset lightgray; */
  background: #f94323;
  /* background: -webkit-linear-gradient(to bottom, #cbcbcb, #b7b9ba); */
  /* background: linear-gradient(to bottom, #2f80ed, #56ccf2); */
  /* background-color: transparent; */
  opacity: 0.9;
  font-weight: 850;
  padding: 10px;

  /* border-right: 3px ridge black;
  border-top: 3px ridge whitesmoke;
  border-bottom: 3px ridge whitesmoke; */
}

.frosted-glass::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: inherit; */
  box-shadow: inset 0 0 3000px rgba(39, 147, 230, 3.9);
  filter: blur(5px);
  margin: -20px;
}

/* //BUTERFLY ANIMATION */
.butterfly {
  height: 100px;
  width: 200px;
  perspective: 400px;
  /* animation: fly 32s infinite; */
  margin: 0 auto;
  z-index: 10;
}

@keyframes fly {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(120%, 160%) rotate(20deg) scale(1.1);
  }
  40% {
    transform: translate(-60%, 260%) rotate(-60deg) scale(1.4);
  }
  60% {
    transform: translate(60%, 220%) rotate(-10deg) scale(1.1);
  }
  80% {
    transform: translate(-120%, 100%) rotate(20deg) scale(0.9);
  }
}
.butterfly div {
  float: left;
}

.wing.left {
  animation: flapLeft 0.3s infinite;
  transform-origin: 100% 50%;
}

.wing.right {
  animation: flapRight 0.3s infinite;
  background-position: 100% 0;
  transform-origin: 0 50%;
}

@keyframes flapLeft {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(60deg);
  }
}
@keyframes flapRight {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(-60deg);
  }
}

/* TEXT */

.nowrap {
  white-space: nowrap;
  word-break: keep-all;
  color: white;
  font-family: "Mate SC", serif;
  font-weight: 800;
  font-size: 1.1em;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3.5s; /* don't forget to set a duration! */
}

.miniLogo {
  text-align: center;
  margin-bottom: -65px;
  animation: rotateIn; /* referring directly to the animation's @keyframe declaration */
  /* animation: bounceInUp; */
  animation-duration: 7.5s; /* don't forget to set a duration! */
}

.textH2 {
  font-size: 2.5em;
  font-weight: 700;
  word-break: keep-all;
  font-family: "Mate SC", serif;
  margin-bottom: 40px;
  text-align: center;
  font-size: 3em;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; /* don't forget to set a duration! */
}

p {
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  color: black;
  margin-bottom: 1.5em;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4.5s; /* don't forget to set a duration! */
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 1350px) {
  .button-container button {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  p {
    font-size: 0.9em;
    margin-left: 9%;
    margin-right: 9%;
  }
  .nowrap {
    font-size: 1em;
  }

  .textH2 {
    font-size: 2.3em;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1020px) {
  .button-container button {
    font-size: 21px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 500px) {
  p {
    font-size: 0.8em;
    margin-left: 9%;
    margin-right: 9%;
  }

  .main-logo {
    width: auto;
    height: 80px;
    align-items: center;
  }

  .button-container button {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    /* float: left; */
  }
  /* .nowrap {
    font-size: 1em;
  }

  .textH2 {
    font-size: 2.3em;
    margin-bottom: 25px;
  } */
}

p.justify {
  text-align: justify;
}

/* .textH2 {
  text-align: left;
  font-size: 3em;
} */

.wrapper {
  padding: 1em;
  min-width: 17.5em;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.bodyText {
  margin: 0;
  text-align: center;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  font-family: "Lato", sans-serif;

  line-height: 1.8;

  /* word-spacing: 0.02em; */

  /* background-color: rgb(220, 220, 220); */
}

/* html {
  font-size: 100%;
} */

/* PHOTO GALLERY */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: darkblue;
  text-align: center;
}
ul li {
  display: block;
  float: none;
}
